<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>408662285884-hh92m7htrfff16cucveos05li74egpok.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.408662285884-hh92m7htrfff16cucveos05li74egpok</string>
	<key>API_KEY</key>
	<string>AIzaSyBSIH3Faj37KQP3dDITHl3r06UHja_kJPM</string>
	<key>GCM_SENDER_ID</key>
	<string>408662285884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.glucode.SmartBite</string>
	<key>PROJECT_ID</key>
	<string>smartbite-2362a</string>
	<key>STORAGE_BUCKET</key>
	<string>smartbite-2362a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:408662285884:ios:1fc9a2f1e6af699c062d39</string>
</dict>
</plist>
